body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.heading-primary {
  @include positionabs;
  color: $color-white;

  text-align: center;

  &__main {
    text-transform: capitalize;
    display: block;
    font-size: 7.5rem;
    font-weight: 100;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__sub {
    display: block;
    font-weight: 100;
    letter-spacing: 0.5rem;

    @include respond(phone) {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
  }

  &__three {
    display: block;
    font-weight: 100;
    letter-spacing: 0.5rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}

.heading-tertiary {
  text-align: center;

  &__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.5rem;
  }

  &__sub {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
  }
}
